{% extends 'base.html' %}

{% block title %}
  MoviePop | 추천영화
{% endblock title %}

<head>
  {% block extrahead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'movies/css/recommendation.css' %}">
  {% endblock extrahead %}
</head>

{% block content %}
<br>
<h3 class="base-font">{{ comment }}</h3>
<br>
<div class='d-flex row base-font' style="width: 980px">
  {% for movie in recommend_movie_list %}
    <div class="card bg-dark text-white div-size m-2 movie-card">
      <img 
        src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" 
        class="card-img hover-img img-size" 
        alt="..."
      >
      <div 
        class="card-img-overlay hover-img bg-color"
        style="position: absolute; top: 22rem;"
      >
        {% comment %} <div style="height: 22rem;">
        </div> {% endcomment %}
        <div>
          <div class="h4 card-title text-truncate locate base-title-font text-center">{{ movie.title }}</div>
          {% if movie.overview|length > 0 %}
            <p class="card-text text-truncate base-font">{{ movie.overview }}</p>
          {% else %}
            <p class="card-text text-truncate base-font">Detail페이지에서 줄거리를 확인해주세요</p>
          {% endif %}
          {% comment %} <p class="card-text">{{ movie.release_date }}</p> {% endcomment %}
          <div class="d-flex justify-content-around">
            <a
              href="{% url 'movies:detail' movie.movie_id %}" 
              class="btn btn-color-ivory bottom-btn"
              style="color: rgba(255, 255, 255, 1); width: 7.5rem;"
            >
              Detail
            </a>
            <a
              href="{% url 'movies:naver_link' movie.title movie.release_date|date:"Y" %}" 
              class="btn btn-color-ivory bottom-btn" 
              style="color: rgba(255, 255, 255, 1); width: 7.5rem;"
            >
              Link
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<script rel="stylesheet" src="{% static 'movies/js/recommendation.js' %}"></script>

{% endblock content %}
