{% extends 'base.html' %}

{% block title %}
  MoviePop | {{ movie.title }} 리뷰
{% endblock title %}

<head>
  {% load static %}
  {% block extrahead %}
  <link rel="stylesheet" href="{% static 'community/css/create.css' %}">
  {% endblock extrahead %}
</head>

{% block content %}

<div>
  <div class="col-row base-font d-flex justify-content-center">

    <div class="half col-5 m-0 p-0 d-flex justify-content-center">
      <div class="card mt-3" style="width: 20rem; background-color: rgba(17, 5, 2, 1);">
        <img src="https://image.tmdb.org/t/p/w500{{ movie.backdrop_path }}" class="card-img-top" alt="...">
        <div class="card-body p-0" style="background-color: rgba(17, 5, 2, 1); border-line: None;">
          <h5 class="card-title ml-2 mt-3">{{ movie.original_title }} | {{ movie.release_date.year }}</h5>
          <hr class="accounts-hr-color">
          <p class="card-text truncate ml-2" style="width: 250px; height: 190px; overflow: hidden;">{{ movie.overview }}</p>
          <a id="hover" href="{% url 'movies:detail' movie.movie_id %}" class="base-ivory btn m-0 p-0 ml-2 a-color-ivory">Movie Detail</a>
        </div>
      </div>
    </div>

    <div class="col-7 half mt-3 mr-5 p-0">
      <h4>영화 | {{ movie.title }}</h4>
      <hr class="accounts-hr-color">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group" id="inputForm">
          <label for="formTitle"> 제목 </label>
          {{ form.title }}
          <br>
          <label for="formContent"> 본문 </label>
          {{ form.content }}
          <br>
          <div class="d-flex justify-content-between">
            {{ form.score }}
            {{ form.image }}
          </div>
          <input class="btn base-ivory" type="submit" id="hover">
          <a class="btn base-brightcrimson" href="{% url 'community:index' %}">back</a>
        </div>
      </form>
    </div>
  </div>
</div>
  <br>
  <br>

<!-- javascript -->
<script rel="stylesheet" src="{% static 'community/js/create.js' %}"></script>
{% endblock content %}