{% extends 'base.html' %}

<head>
  {% load static %}
  {% block extrahead %}
  <link rel="stylesheet" href="{% static 'community/css/detail.css' %}">
  {% endblock extrahead %}
</head>

{% block title %}
  MoviePop | {{ article.title }}
{% endblock title %}

{% block content %}
  <div class="d-flex content-align-right">
    <a class="btn back-btn btn-color-lightcrimson ml-auto page-font" href="{% url 'community:index' %}">
      뒤로가기
    </a>
  </div>
  {% comment %} <div style="background-color: rgba(255, 255, 255, 0.6); border-radius: 3rem;" class="container p-4"> {% endcomment %}
  <div class="container p-4">
    <h1 class="base-title-font pt-3 pl-3 base-ivory">{{ article.title }}</h1>
    <hr>
    <div class="p-3 text-brown-color">
      <div class="d-flex justify-content-between">
        <div class="h4 base-title-font">작성자: <a href="{% url 'accounts:detail' article.user.pk %}" class="atag">{{ article.user.nickname }}</a></div>
        <div>
          <div class="base-font">최초 작성일 {{ article.created_at|date:"Y년 M d일 H:i" }}</div>
          <div class="base-font">최근 수정일 {{ article.updated_at|date:"Y년 M d일 H:i" }}</div>
        </div>
      </div>
      <div class="h5 text-brown-color base-title-font">후기 | {{ score }}</div>
    <br>

    <div class="d-flex justify-content-left">
      <div class="card mb-3" style="max-width: 540px; background-color: rgba(255, 255, 255, 0.2); border-radius: 1rem;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img 
              src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" 
              class="card-img" 
              alt="..."
              style="height: 100%;"
            >
          </div>
          <div class="col-md-8">
            <div class="card-body" style="color: rgba(0, 0, 0, 1)">
              <a href="{% url 'movies:detail' movie.pk %}">
                <h5 class="card-title base-title-font" style="color: #ffffff;">{{ movie.title }}</h5>
              </a>
              <h5 class="mt-1 base-title-font" style="opacity: 0.4; color: #ffffff; font-size: 1rem;">{{ movie.original_title }} | {{ movie.release_date.year }}</h5>
              <hr>
              <div class="card-text base-font" style="color: #ffffff;">{{ movie.release_date }} | ⭐{{ movie.vote_average }}</div>
              <p class="card-text overview mt-2" style="color: #ffffff;">{{ movie.overview }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>

      <div class="base-font base-ivory">
        {% comment %} <div class="h5 text-brown-color base-title-font">후기 | {{ score }}</div> {% endcomment %}
        <br>
        {% if article.image %}
          <div class="d-flex justify-content-center">
            <img 
              class="d-flex justify-content-center"
              src="{{ article.image.url }}" 
              alt="{{ article.image }}"
              width="700rem" 
            >
          </div>
        {% endif %}
        <br>
        <p class="text-brown-color base-font h5" style="line-height: 2rem;">{{ article.content }}</p>
      </div>
      <div class="d-flex justify-content-end align-items-center">
        {% if request.user == article.user %}
        <!-- 수정 -->
          <a href="{% url 'community:update' article.pk %}" class="m-1 icon-to-button-update">
  					<i class="fas fa-edit fa-2x"></i>
          </a>
        <!-- 삭제 -->
          <form action="{% url 'community:delete' article.pk %}" method="POST" class="m-1">
            {% csrf_token %}
  					{% comment %} <i class="far fa-trash-alt fa-2x"></i> {% endcomment %}
            <input type="submit" value="&#xf2ed;" class="btn search icon-to-button-delete p-0" style="font-size: 2rem;">
          </form>
        {% endif %}
      </div>
    </div>

    <div class="text-brown-color">
      {% include 'community/_like.html' %}
      <br>
      <br>
      <hr>
      <h4 class="base-title-font base-ivory">
        댓글
        {% if comments|length %}
          <span id="comment-count-{{ article.pk }}">
            ({{ article.comment_set.all|length }})
          </span>
        {% else %}
          <span id="comment-count-{{ article.pk }}">
            (0)
          </span>
        {% endif %}
      </h4>
      {% include 'community/_comment.html' %}
    </div>
    <div class="p-3 text-brown-color">
      {% include 'community/_commentlist.html' %}
    </div>
  </div>
  <br>

<!-- javascript -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script rel="stylesheet" src="{% static 'community/js/detail.js' %}"></script>
{% endblock content %}