{% extends 'base.html' %}

{% block style %}
  .atag{
    {% comment %} color: rgba(17, 5, 2, 1); {% endcomment %}
    color: #ffffff;
  }
  a:hover{
    text-decoration: None;
    color: #fdba9a;
  }

  hr{
    {% comment %} background-color: rgba(17, 5, 2, 1); {% endcomment %}
    background-color: #ffffff;
  }

  .text-brown-color{
    {% comment %} color: rgba(17, 5, 2, 1); {% endcomment %}
    color: #ffffff;
  }

  .button{
    background-color: none;
    width: 5rem;
    height: 2rem;
    border: none;
    color: rgba(17, 5, 2, 1);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: large;
    font-weight: 700;
  }

  .btn-color-lightcrimson{
    background-color: rgba(246, 75, 60, 0.7);
    border: none;
  }

  .button:hover{
    background-color: rgba(253, 186, 154, 1);
    color: rgba(17, 5, 2, 1);
  }

  .icon-to-button-update{
    color: rgba(253, 186, 154, 0.6);
    cursor: pointer;
  }

  .icon-to-button-update:hover{
    color: rgba(200, 25, 18, 1);
  }

  .icon-to-button-delete{
    background-color: rgba(17, 5, 2, 1); 
    color: #1f6f8b;
    cursor: pointer;
  }

  .icon-to-button-delete:hover{
    color: rgba(200, 25, 18, 1);
  }


  .icon-to-button-comment{
    background-color: rgba(17, 5, 2, 1); 
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }

  .icon-to-button-comment:hover{
    color: rgba(253, 186, 154, 1);
  }


  input[type="submit"] {
    font-family: "Font Awesome 5 Free";
    font-size: 1.3333333333333333em;
    font-weight: 900;
  }

  .like-btn{
    color: rgba(246, 75, 60, 1);
  }
  
  .like-btn:hover{
    color: rgba(200, 25, 18, 1);
  }

  .back-btn{
    border: none;
    color: rgba(17, 5, 2, 1);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: large;
    font-weight: 700;
  }

  .back-btn:hover{
    background-color: rgba(253, 186, 154, 1);
  }

  .page-font{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: large;
  }

  .overview {
    margin-top: 0.2rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.8rem;
    overflow: hidden;
    white-space: wrap;
    width: 300px;
    height: 95px;
    text-overflow: ellipsis;
    {% comment %} word-break: normal; {% endcomment %}
}


{% endblock style %}

{% block title %}
  MoviePop | {{ article.title }}
{% endblock title %}

{% block content %}
  <div class="d-flex content-align-right">
    <a class="btn back-btn btn-color-lightcrimson ml-auto page-font" href="{% url 'community:index' %}">
      뒤로가기
    </a>
  </div>
  {% comment %} <div style="background-color: rgba(255, 255, 255, 0.6); border-radius: 3rem;" class="container p-4"> {% endcomment %}
  <div class="container p-4">
    <h1 class="base-title-font pt-3 pl-3 base-ivory">{{ article.title }}</h1>
    <hr>
    <div class="p-3 text-brown-color">
      <div class="d-flex justify-content-between">
        <div class="h4 base-title-font">작성자: <a href="{% url 'accounts:detail' article.user.pk %}" class="atag">{{ article.user.nickname }}</a></div>
        <div>
          <div class="base-font">최초 작성일 {{ article.created_at|date:"Y년 M d일 H:i" }}</div>
          <div class="base-font">최근 수정일 {{ article.updated_at|date:"Y년 M d일 H:i" }}</div>
        </div>
      </div>
    <br>

    <div class="d-flex justify-content-center">
      <div class="card mb-3" style="max-width: 540px; background-color: rgba(255, 255, 255, 0.2); border-radius: 1rem;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img 
              src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" 
              class="card-img" 
              alt="..."
              style="height: 100%;"
            >
          </div>
          <div class="col-md-8">
            <div class="card-body" style="color: rgba(0, 0, 0, 1)">
              <a href="{% url 'movies:detail' movie.pk %}">
                <h5 class="card-title base-title-font" style="color: #ffffff;">{{ movie.title }}</h5>
              </a>
              <h5 class="mt-1 base-title-font" style="opacity: 0.4; color: #ffffff; font-size: 1rem;">{{ movie.original_title }} | {{ movie.release_date.year }}</h5>
              <hr>
              <div class="card-text base-font" style="color: #ffffff;">{{ movie.release_date }} | ⭐{{ movie.vote_average }}</div>
              <p class="card-text overview mt-2" style="color: #ffffff;">{{ movie.overview }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>


      <div class="base-font base-ivory">
        <div class="h5 text-brown-color base-title-font">후기 | {{ score }}</div>
        <br>
        <p class="text-brown-color base-font">{{ article.content }}</p>
      </div>
      <div class="d-flex justify-content-end align-items-center">
        {% if request.user == article.user %}
        <!-- 수정 -->
          <a href="{% url 'community:update' article.pk %}" class="m-1 icon-to-button-update">
  					<i class="fas fa-edit fa-2x"></i>
          </a>
        <!-- 삭제 -->
          <form action="{% url 'community:delete' article.pk %}" method="POST" class="m-1">
            {% csrf_token %}
  					{% comment %} <i class="far fa-trash-alt fa-2x"></i> {% endcomment %}
            <input type="submit" value="&#xf2ed;" class="btn search icon-to-button-delete p-0" style="font-size: 2rem;">
          </form>
        {% endif %}
      </div>
    </div>
    <div class="text-brown-color">
      {% include 'community/_like.html' %}
      <br>
      <br>
      <hr>
      <h4 class="base-title-font base-ivory">
        댓글
        {% if comments|length %}
          <span id="comment-count-{{ article.pk }}">
            ({{ article.comment_set.all|length }})
          </span>
        {% else %}
          <span id="comment-count-{{ article.pk }}">
            (0)
          </span>
        {% endif %}
      </h4>
      {% include 'community/_comment.html' %}
    </div>
    <div class="p-3 text-brown-color">
      {% include 'community/_commentlist.html' %}
    </div>
  </div>
  <br>


  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const like_form = document.querySelector('.like-form')

    like_form.addEventListener('submit', function (event) {
      event.preventDefault()
      const articleId = event.target.dataset.articleId
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

      axios.post(`/community/${articleId}/like/`, {}, {
        headers: {
            'X-CSRFToken': csrftoken
        }
      })
      .then(res => {
        const count = res.data.count
        const liked = res.data.liked

        const likeIcon = document.querySelector(`#like-${articleId}`)
        const likeCount = document.querySelector(`#like-count-${articleId}`)

        likeCount.innerText = `${count}명이 이 글을 추천합니다.`

        if (liked) {
          likeIcon.classList.remove('far')
          likeIcon.classList.add('fas')
        } else {
          likeIcon.classList.remove('fas')
          likeIcon.classList.add('far')
        }
      })
    })
    // 댓글 삭제
    const commentDeleteButtons = document.querySelectorAll('.delete-comment')      
    commentDeleteButtons.forEach(btn => {
      btn.addEventListener('click', event => {
        const BASE_URI = event.srcElement.baseURI
        const commentId = btn.dataset.id
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

        axios.post(`${BASE_URI}comments/${commentId}/delete/`, {}, {
          headers: {
            'X-CSRFToken': csrftoken
          }
        })
          .then(res => {
            const articleId = res.data.article_id
            const comment = event.path[3]
            //console.log('event')
            //console.log(event)
            //console.log(comment)
            //console.log('parent')
            //console.log(comment.parentNode)
            console.log(comment)
            console.log(comment.parentNode)
            comment.parentNode.removeChild(comment)
            const count = res.data.count            
            const commentCount = document.querySelector(`#comment-count-${ articleId }`)
            if (count-1 > 0) {
              commentCount.innerText = `(${count-1})`
            } else {
              commentCount.innerText = '(0)'
            }
          })
          .catch(err => {
            console.log(err)
          })
      })
    })
    // 댓글 생성
    const commentForms = document.querySelectorAll(".comment-form")
    commentForms.forEach(form => {
      form.addEventListener('submit', event => {
        event.preventDefault()
        
        const data = new FormData(event.target)

        axios.post(event.target.action, data)
          .then(res => {
            const comment = res.data
            const commentList = document.querySelector(
              `#comment-list-${ comment.article_id }`
            )
            const newComment = 
            `	<div>
                <div class="d-flex justify-content-between">
                  <div>
                    <strong class="base-title-font h4">${ comment.username }</strong>
                    <i class="icon-to-button far fa-trash-alt delete-comment icon-to-button-delete mx-1" id="delete-${ comment.id }" data-id="${ comment.id }"></i>
                    <i id="update-${ comment.id }" class="fas fa-edit icon-to-button-update update-comment ml-1" data-id="${ comment.id }"></i>
                  </div>
                  <div class="" style="font-size: 0.8rem;">
                    <div>
                      댓글 생성 ${ comment.created_at }
                    </div>
                    <div>
                      최근 수정 ${ comment.updated_at }
                    </div>
                  </div>
                </div>
                <div>
                  <span class="base-font" style="font-size: large">${ comment.content }</span>
                </div>
                </br>
              </div>
              `
             /*
             `<li>
                  <strong>${ comment.username }</strong> | <span>${ comment.content }</span>
                  <button id="delete-${ comment.id }" class="delete-comment" data-id="${ comment.id }">댓글 삭제</button>
                  <button id="update-${ comment.id }" class="update-comment" data-id="${ comment.id }">댓글 수정</button>
                </li>`
              */
            commentList.insertAdjacentHTML('beforeEnd', newComment)
            event.target.reset()
            const count = res.data.count
            const articleId = res.data.article_id            
            const commentCount = document.querySelector(`#comment-count-${ articleId }`)
            if (count > 0) {
              commentCount.innerText = `(${count})`
            } else {
              commentCount.innerText = '(0)'
            }

            // 댓글 생성 후 바로 지울 때
            const commentDeleteButton = document.querySelector(`#delete-${ comment.id }`)
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
            commentDeleteButton.addEventListener('click', event => {
              axios.post(`/community/${ comment.article_id }/comments/${ comment.id }/delete/`, {}, {
                headers: 
                  { 'X-CSRFToken': csrftoken }
              })
                .then(res => {
                  const comment = event.path[3]
                  comment.parentNode.removeChild(comment)

                  if (count-1 > 0) {
                    commentCount.innerText = `(${count-1})`
                  } else {
                    commentCount.innerText = '(0)'                  }
                })
                .catch(err => {
                  console.log(err)
                  })
                })
            // 댓글 생성 후 바로 수정할 때
            const updateButton = document.querySelector(`#update-${ comment.id }`)
            updateButton.addEventListener('click', event => {
              const parentNode = event.target.parentElement.parentNode.nextSibling.nextSibling
              const text = parentNode.children[0]
              const input = document.createElement('input')
              input.value = text.innerText

              input.classList.add(`commentUpdateForm-${ comment.id }`)
              parentNode.replaceChild(input, text)
              const updateParrent = event.path[0].parentNode
              const updateButton = event.path[0]
              const updateCompleteButton = document.createElement('i')
              const deleteButton = event.path[1].children[1]
              deleteButton.setAttribute('style', 'display: None;')

              updateCompleteButton.setAttribute('class', `commentUpdateButton-${ comment.id }`)
              updateCompleteButton.classList.add('fas')
              updateCompleteButton.classList.add('fa-edit')
              updateCompleteButton.classList.add('icon-to-button-update')
              //updateCompleteButton.innerText = '수정완료'
              const timeZone = event.path[2].children[1]
              timeZone.setAttribute('style', 'display: None;')

              updateCompleteButton.addEventListener('click', event => {
                const baseURI = event.path[2].baseURI
                const content = input.value
                const data = { content }
                axios.post(`${ baseURI }comments/${ comment.id }/update/`, data, {
                  headers:
                    { 'X-CSRFToken': csrftoken}
                })
                .then(res => {
                  console.log(res)
                  const temp = document.querySelector(`.commentUpdateForm-${ comment.id }`)
                  const newText = document.createElement('span')
                  deleteButton.setAttribute('style', 'display: True;')
                  newText.innerText = temp.value
                  parentNode.replaceChild(newText, temp)
                  event.path[2].children[1].children[0].firstChild.data = res.data.created_at
                  event.path[2].children[1].children[1].firstChild.data = res.data.updated_at
                  console.log(timeZone)
                  timeZone.removeAttribute('style', 'display: None;')
                  timeZone.setAttribute('style', 'font-size: 0.8rem;')
                  updateParrent.replaceChild(updateButton, updateCompleteButton)
                })
                .catch(err => {
                  console.log(err)
                })
              })
              updateParrent.replaceChild(updateCompleteButton, updateButton)
            })
            
            })
          .catch(err => {
            console.log(err)
          })
        })
      })
    // 댓글 수정
    const updateButtons = document.querySelectorAll(".update-comment")
    updateButtons.forEach(button => {
      button.addEventListener('click', event => {
        //const parentNode = event.target.parentNode
        console.log('hi')
        const parentNode = event.target.parentElement.parentNode.nextSibling.nextSibling
        //console.log(event.target.parentElement.parentNode.nextSibling.nextSibling.children[0])
        const text = parentNode.children[0]
        //console.log(text)
        const input = document.createElement('input')
        input.value = text.innerText
        const commentId = button.dataset.id

        input.classList.add(`commentUpdateForm-${ commentId }`)
        parentNode.replaceChild(input, text)
        console.log(event)
        const updateParrent = event.path[0].parentNode
        const updateButton = event.path[0]
        const updateCompleteButton = document.createElement('i')
        const deleteButton = event.path[1].children[1]
        deleteButton.setAttribute('style', 'display: None;')
        updateCompleteButton.classList.add(`commentUpdateButton-${ commentId }`)
        updateCompleteButton.classList.add('fas')
        updateCompleteButton.classList.add('fa-edit')
        updateCompleteButton.classList.add('icon-to-button-update')
        //updateCompleteButton.innerText = '수정완료'
        const timeZone = event.path[2].children[1]
        timeZone.setAttribute('style', 'display: None;')

        updateCompleteButton.addEventListener('click', event => {
          const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
          const baseURI = event.path[2].baseURI
          const content = input.value
          data = { content }
          axios.post(`${baseURI}comments/${ commentId }/update/`, data, {
              headers: 
                { 'X-CSRFToken': csrftoken }
            })
            .then(res => {
              console.log(res)
              const temp = document.querySelector(`.commentUpdateForm-${ commentId }`)
              const newText = document.createElement('span')
              deleteButton.setAttribute('style', 'display: True;')
              newText.innerText = temp.value
              parentNode.replaceChild(newText, temp)
              event.path[2].children[1].children[0].firstChild.data = res.data.created_at
              event.path[2].children[1].children[1].firstChild.data = res.data.updated_at
              timeZone.removeAttribute('style', 'display: None;')
              timeZone.setAttribute('style', 'font-size: 0.8rem;')

              updateParrent.replaceChild(updateButton, updateCompleteButton)
            })
            .catch(err => {
              console.log(err)
            })
        })
        console.log(parentNode)
        updateParrent.replaceChild(updateCompleteButton, updateButton)
      })
    })
    
  </script>
{% endblock content %}