{% extends 'base.html' %}

{% block title %}
  MoviePop | 리뷰 수정
{% endblock title %}

<head>
  {% load static %}
  {% block extrahead %}
  <link rel="stylesheet" href="{% static 'community/css/update.css' %}">
  {% endblock extrahead %}
</head>

{% block content %}

<div>
  <div class="col-row base-font d-flex justify-content-center">

    <div class="half col-5 m-0 p-0 d-flex justify-content-center">
      <div class="card mt-3" style="width: 20rem; background-color: rgba(17, 5, 2, 1);">
        <img src="https://image.tmdb.org/t/p/w500{{ article.movie.backdrop_path }}" class="card-img-top" alt="...">
        <div class="card-body p-0" style="background-color: rgba(17, 5, 2, 1); border-line: None;">
          <h5 class="card-title ml-2 mt-3">{{ article.movie.original_title }} | {{ article.movie.release_date.year }}</h5>
          <hr class="accounts-hr-color">
          <p class="card-text truncate ml-2" style="width: 250px; height: 190px; overflow: hidden;">{{ article.movie.overview }}</p>
          <a id="a-hover" href="{% url 'movies:detail' article.movie.movie_id %}" class="btn m-0 p-0 ml-2 base-ivory">Movie Detail</a>
        </div>
      </div>
    </div>

    <div class="col-7 half mt-3 mr-5 p-0">
      <h4>영화 | {{ article.movie.title }}</h4>
      <hr class="accounts-hr-color">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group" id="updateInputForm">
          <label for="formTitle"> 제목 </label>
          {{ form.title }}
          <br>
          <label for="formContent"> 본문 </label>
          {{ form.content }}
          <br>
          {{ form.score }}
          <input id="b-hover" class="btn base-ivory" type="submit">
          <a class="btn base-brightcrimson" href="{% url 'community:index' %}">[back]</a>
        </div>
      </form>
    </div>
  </div>
</div>
<br>
<br>

<!-- javascript -->
<script rel="stylesheet" src="{% static 'community/js/update.js' %}"></script>
{% endblock content %}