{% extends 'base.html' %}

{% block title %}
  MoviePop | 리뷰 수정
{% endblock title %}

{% block content %}

<style>
.half{
  display: inline-block;
}
.card-size{
  width: 350;
  height: 600;
}

</style>

<div>
  <div class="col-row base-font d-flex justify-content-center">

    <div class="half col-5 m-0 p-0 d-flex justify-content-center">
      <div class="card mt-3" style="width: 20rem; background-color: rgba(17, 5, 2, 1);">
        <img src="https://image.tmdb.org/t/p/w500{{ article.movie.backdrop_path }}" class="card-img-top" alt="...">
        <div class="card-body p-0" style="background-color: rgba(17, 5, 2, 1); border-line: None;">
          <h5 class="card-title ml-2 mt-3">{{ article.movie.original_title }} | {{ article.movie.release_date.year }}</h5>
          <hr class="accounts-hr-color">
          <p class="card-text truncate ml-2" style="width: 250px; height: 190px; overflow: hidden;">{{ article.movie.overview }}</p>
          <a id="a-hover" href="{% url 'movies:detail' article.movie.movie_id %}" class="btn m-0 p-0 ml-2 base-ivory">Movie Detail</a>
        </div>
      </div>
    </div>

    <div class="col-7 half mt-3 mr-5 p-0">
      <h4>영화 | {{ article.movie.title }}</h4>
      <hr class="accounts-hr-color">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group" id="updateInputForm">
          <label for="formTitle"> 제목 </label>
          {{ form.title }}
          <br>
          <label for="formContent"> 본문 </label>
          {{ form.content }}
          <br>
          {{ form.score }}
          <input id="b-hover" class="btn base-ivory" type="submit">
          <a class="btn base-brightcrimson" href="{% url 'community:index' %}">[back]</a>
        </div>
      </form>
    </div>
  </div>
</div>
<br>
<br>

<script>
// 제목 입력 폼
const inputForm = document.querySelector('#updateInputForm')
// console.log(inputForm)
const titleForm = inputForm.children[1]
// console.log(titleForm)
titleForm.setAttribute('class', 'form-control')
titleForm.setAttribute('id', 'formTitle')
titleForm.setAttribute('placeholder', '제목을 입력해주세요.')

// 내용 입력 폼
const contentForm = inputForm.children[4]
contentForm.setAttribute('class', 'form-control')
contentForm.setAttribute('id', 'formContent')
contentForm.setAttribute('rows', '9')
contentForm.setAttribute('placeholder', '내용을 입력해주세요.')

// 평점 입력 폼
const scoreForm = inputForm.children[6]
scoreForm.setAttribute('class', 'form-control m-0')
scoreForm.setAttribute('style', 'width: 232.5px; display: inline-block;')
scoreForm.setAttribute('placeholder', '평점을 입력해주세요.')


// 버튼 호버링
const aHover = document.querySelector('#a-hover')
const bHover = document.querySelector('#b-hover')

// a 버튼
const mouseoverFunca = function (event) {
  console.log(event)
  aHover.setAttribute('style', 'color: rgba(246, 75, 60, 1);')
}
const mouseoutFunca = function (event) {
  //console.log(event)
  aHover.removeAttribute('style', 'color: rgba(246, 75, 60, 1);')
}

aHover.addEventListener('mouseover', mouseoverFunca)
aHover.addEventListener('mouseout', mouseoutFunca)

// b버튼
const mouseoverFuncb = function (event) {
  console.log(event)
  bHover.setAttribute('style', 'color: rgba(246, 75, 60, 1);')
}
const mouseoutFuncb = function (event) {
  //console.log(event)
  bHover.removeAttribute('style', 'color: rgba(246, 75, 60, 1);')
}

bHover.addEventListener('mouseover', mouseoverFuncb)
bHover.addEventListener('mouseout', mouseoutFuncb)

</script>

{% endblock content %}