<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog d-flex justify-content-center" role="document">
    <div class="modal-content" style="background-color: rgba(17, 5, 2, 0.8); width: 52rem;">
      <div class="modal-header">
        <h5 class="text-center modal-title base-title-font" id="exampleModalLabel" style="color: white;">경고</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #ffffff;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-center align-items-center">
        <p>로그인에 실패했습니다..</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-color-lightcrimson base-title-font" data-dismiss="modal">Close</button>
        </a>
      </div>
    </div>
  </div>
</div>