<h4 class="font-weight-bold">선호하는 영화 장르</h4>
<p style="color: white;">모두 선택해주세요 (최소 1개, 최대 19개 가능)</p>
<ul id="id_preference" class="mb-0" style="color: red"></ul>

<script>
  const addGenres = document.querySelector('#id_preference')
  const genres = [
    ['모험', 12], ['판타지', 14], ['애니메이션', 16], ['드라마', 18], 
    ['공포', 27], ['액션', 28], ['코미디', 35], ['역사', 36],
    ['서부', 37], ['스릴러', 53], ['범죄', 80], ['다큐멘터리', 99], 
    ['SF', 878], ['미스터리', 9648], ['음악', 10402], ['로맨스', 10749], 
    ['가족', 10751], ['전쟁', 10752], ['TV영화', 10770]
  ]

  let addGenreList = ""
  genres.forEach((genre, index) => {
    const addGenre = `
        <span>
          <label for="id_preference_${index}">
            <input class="input-checkbox" type="checkbox" name="preference" value="${genre[1]}" id="id_preference_${index}">
            ${genre[0]}
          </label>
        </span>
      `
    addGenreList += addGenre
  })

  addGenres.innerHTML = addGenreList
</script>