<style>
label{
  display: inline-block;
  width: 210px;
  line-height: 50px;
}
label{
  font-size: 1.4rem;
}
.input-checkbox{
  width: 20px;
  height: 20px;
  border-radius: 10px; 
  margin: 5px;
  color: white;
}
.input-checkbox:hover{
  cursor: pointer;
}
</style>

<h4 class="font-weight-bold">선호하는 영화 장르</h4>
<p style="color: white;">모두 선택해주세요 (최소 1개, 최대 19개 가능)</p>
<ul id="id_preference" class="mb-0" style="color: white">
  <span>
    <label for="id_preference_0">
      <input class="input-checkbox" type="checkbox" name="preference" value="12" id="id_preference_0">
      모험
    </label>
  </span>
  <span>
    <label for="id_preference_1">
      <input class="input-checkbox" type="checkbox" name="preference" value="14" id="id_preference_1">
      판타지
    </label>
  </span>
  <span>
    <label for="id_preference_2">
      <input class="input-checkbox" type="checkbox" name="preference" value="16" id="id_preference_2">
      애니메이션
    </label>
  </span>
  <span>
    <label for="id_preference_3">
      <input class="input-checkbox" type="checkbox" name="preference" value="18" id="id_preference_3">
      드라마
    </label>
  </span>
  <br>
  <span>
    <label for="id_preference_4">
      <input class="input-checkbox" type="checkbox" name="preference" value="27" id="id_preference_4">
      공포
    </label>
  </span>
  <span>
    <label for="id_preference_5">
      <input class="input-checkbox" type="checkbox" name="preference" value="28" id="id_preference_5">
      액션
    </label>
  </span>
  <span>
    <label for="id_preference_6">
      <input class="input-checkbox" type="checkbox" name="preference" value="35" id="id_preference_6">
      코미디
    </label>
  </span>
  <span>
    <label for="id_preference_7">
      <input class="input-checkbox" type="checkbox" name="preference" value="36" id="id_preference_7">
      역사
    </label>
  </span>
  <br>
  <span>
    <label for="id_preference_8">
      <input class="input-checkbox" type="checkbox" name="preference" value="37" id="id_preference_8">
      서부
    </label>
  </span>
  <span>
    <label for="id_preference_9">
      <input class="input-checkbox" type="checkbox" name="preference" value="53" id="id_preference_9">
      스릴러
    </label>
  </span>
  <span>
    <label for="id_preference_10">
      <input class="input-checkbox" type="checkbox" name="preference" value="80" id="id_preference_10">
      범죄
    </label>
  </span>
  <span>
    <label for="id_preference_11">
      <input class="input-checkbox" type="checkbox" name="preference" value="99" id="id_preference_11">
      다큐멘터리
    </label>
  </span>
  <br>
  <span>
    <label for="id_preference_12">
      <input class="input-checkbox" type="checkbox" name="preference" value="878" id="id_preference_12">
      SF
    </label>
  </span>
  <span>
    <label for="id_preference_13">
      <input class="input-checkbox" type="checkbox" name="preference" value="9648" id="id_preference_13">
      미스터리
    </label>
  </span>
  <span>
    <label for="id_preference_14">
      <input class="input-checkbox" type="checkbox" name="preference" value="10402" id="id_preference_14">
      음악
    </label>
  </span>
  <span>
    <label for="id_preference_15">
      <input class="input-checkbox" type="checkbox" name="preference" value="10749" id="id_preference_15">
      로맨스
    </label>
  </span>
  <br>
  <span>
    <label for="id_preference_16">
      <input class="input-checkbox" type="checkbox" name="preference" value="10751" id="id_preference_16">
      가족
    </label>
  </span>
  <span>
    <label for="id_preference_17">
      <input class="input-checkbox" type="checkbox" name="preference" value="10752" id="id_preference_17">
      전쟁
    </label>
  </span>
  <span>
    <label for="id_preference_18">
      <input class="input-checkbox" type="checkbox" name="preference" value="10770" id="id_preference_18">
      TV영화
    </label>
  </span>
</ul>