{% extends 'base.html' %}

{% block title %}
  MoviePop | {{ user.nickname }}
{% endblock title %}

<head>
  {% block extrahead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/detail.css' %}">
  {% endblock extrahead %}
</head>

{% block content %}

  <div>
    <div 
      class="base-font accounts-form-width userdetail base-ivory"
    >
      <hr class="accounts-hr-color">
      {% if user.image %}
        <img 
          class="d-flex justify-content-center"
          src="{{ user.image.url }}" 
          alt="{{ user.image }}"
          {% comment %} width="700rem"  {% endcomment %}
        >
      {% endif %}
      <h4 class="ml-3">🌽{{ user.nickname }}님의 Corn Graph🌽</h4>
      <br>
      <p id="genreData" style="display: None;">{{ genre_code }}</p>
      <canvas class="base-ivory" id="barChart"></canvas>
      <hr class="accounts-hr-color">
      <div class="">
        <h4 class="idnickname mr-4 ml-3" style="width: 100px;"> 아이디 |</h4>
        <h4 class="idnickname" style="width: 200px; color: white;">{{ user.username }}</h4>
        <hr class="accounts-hr-color">
        <h4 class="idnickname mr-4 ml-3" style="width: 100px;">닉네임 |</h4>
        <h4 class="idnickname" style="width: 200px; color: white;">{{ user.nickname }}</h4>
        <hr class="accounts-hr-color">
        <h4 class="ml-3">{{ user.nickname }}님의 리뷰 ({{ articles|length }})</h4>
        <div class="ml-5">
          {% for article in articles %}
            <a 
              class="atag" 
              href="{% url 'community:detail' article.pk %}"
            >
              <span style="font-weight: bold;">{{ article.movie }}</span> | {{ article.title|truncatechars:20 }} | {{ article.updated_at|date:"Y/m/d H:i" }}
            </a>
            <br>
          {% endfor %}
        </div>
        <hr>
        <h4 class="ml-3">{{ user.nickname }}님이 댓글단 리뷰 ({{ comments|length }})</h4>
        <div class="ml-5"> 
          {% for comment in comments %}
            <a 
              class="atag"
              href="{% url 'community:detail' comment.article.pk %}"
            >
              <span style="font-weight: bold;">{{ comment.content|truncatechars:20 }}</span> | {{ comment.article.title|truncatechars:20 }} | {{ comment.updated_at|date:"Y/m/d H:i" }}
            </a>
            <br>
          {% endfor %}
        </div>
        <hr>
        <h4 class="ml-3">{{ user.nickname }}님이 추천하는 리뷰 ({{ like_articles|length }})</h4>
        <div class="ml-5">
          {% for like in like_articles %}
            <a 
              class="atag" 
              href="{% url 'community:detail' like.pk %}"
            >
              <span style="font-weight: bold;">{{ like.movie }}</span> | {{ like.title|truncatechars:20 }}
            </a>
            <br>
          {% endfor %}
        </div>
        <hr>
        <br>
      </div>
    </div>
  </div>

  <script rel="stylesheet" src="{% static 'accounts/js/detail.js' %}"></script>

{% endblock content %}
