{% extends 'base.html' %}

{% block title %}
  MoviePop | 로그인
{% endblock title %}

<head>
  {% block extrahead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
  {% endblock extrahead %}
</head>

{% block content %}
{% load socialaccount %}
{% providers_media_js %}

<br>
<br>

<hr>
<div class="d-flex justify-content-center">
  <form id="loginform" action="" method="POST" class="base-font">
  {% comment %} 로그인에 실패하는 경우
                (없는 계정이거나 비밀번호를 틀렸을 경우)
                따로 공지가 없다. -> 수정하기
  {% endcomment %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}  <!-- 필드 오류를 출력한다. -->
                <div class="alert alert-danger">
                    <strong>{{ field.label }}</strong>
                    {{ error }}
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}   <!-- 넌필드 오류를 출력한다. -->
            <div class="alert alert-danger">
                <strong>{{ error }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <div class="text-center">
      {% csrf_token %}
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="headcon input-group-text" id="basic-addon1">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
          </span>
        </div>
        {{ form.username }}
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="headcon input-group-text" id="basic-addon2">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-key-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>
          </span>
        </div>
        {{ form.password }}
      </div>
      <input
        style="width: 400px;"
        class="btn btn-warning mt-3" 
        type="submit" 
        value="로그인"
        data-target="#loginModal"
      >
      <br>
      <br>
      <span>
        <span style="color: white;">아직 MoviePop 회원이 아니세요? </span>
        <a href="{% url 'accounts:signup' %}">회원가입하기</a>
        <hr>
        <a href="{% provider_login_url 'google' %}">구글 로그인</a>
        <a href="{% provider_login_url 'naver' %}">네이버 로그인</a>
      </span>
    </div>
  </form>
</div>

<script rel="stylesheet" src="{% static 'accounts/js/login.js' %}"></script>

{% endblock content %}