{% extends 'base.html' %}

{% block title %}
  MoviePop | 회원가입
{% endblock title %}

<head>
  {% block extrahead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/signup.css' %}">
  {% endblock extrahead %}
</head>

{% block content %}
  <br>
  <br>
  <div class="base-brightcrimson base-font">
    <div class="d-flex justify-content-center">
        {% include 'accounts/_signup_form.html' %}
        {% include 'accounts/_preference_movie_genre.html' %}
        <div class="flex-center-vertically">
          <input class="btn btn-color-ivory btn-width" type="submit" value="회원가입">
          <button class="btn btn-secondary btn-width">취소</button>
          <br>
        </div>
        <br>
        <span>이미 MoviePop 계정이 있다면 ? </span>
        <a href="{% url 'accounts:login' %}">로그인하기</a>
      </form>
    </div>
    <br>
  </div>
{% endblock content %}