{% extends 'base.html' %}

{% block title %}
  MoviePop | 정보수정
{% endblock title %}

<head>
  {% block extrahead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/update.css' %}">
  {% endblock extrahead %}
</head>

{% block content %}

<br>

<div class="accounts-form-width userdetail base-font base-ivory">
  <hr class="accounts-hr-color">
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h4 class="idnickname mr-4" style="width: 100px;"> My ID  </h4>
    <h4 class="idnickname" style="width: 200px; color: white;">{{ user.username }}</h4>
    <hr class="accounts-hr-color">
    <h4 class="idnickname mr-4" style="width: 100px;">Name</h4>
    {{ form.nickname }}
    <hr class="accounts-hr-color">
    <h4 class="idnickname mr-4" style="width: 100px;">비밀번호</h4>
    <a href="../password/" class="h5 font-weight-bold atag">비밀번호 변경하기</a>
    <hr class="accounts-hr-color">
    <div class="d-flex align-items-center">
      <h4 class="idnickname mr-4" style="width: 100px;"> 프로필 </h4>
      <div class="d-inline-block" style="color: white">
        {{ form.image }}
      </div>
    </div>
    <hr class="accounts-hr-color">

    <h5 class="font-weight-bold">선호하는 영화 장르</h5>
    <br>
    <div id="preference">
      {{ form.preference }}
    </div>

    <div class="d-flex justify-content-center">
    <input class="btn btn-color-ivory btn-width base-title-font" type="submit" value="수정완료">
    <a class="btn btn-secondary btn-width base-title-font" href="{% url 'community:index' %}">취소</a>
    </div>
  </form>
  <br>
  <form action="{% url 'accounts:delete' %}" method="POST" class="idnickname">
    {% csrf_token %}
    <input class="button atag" type="submit" value="회원탈퇴하기">
  </form>
  <br>
  <br>
</div>

<script rel="stylesheet" src="{% static 'accounts/js/update.js' %}"></script>

{% endblock content %}